.searchBox {
  padding: 10px 20px;
  background-color: #D6D3F0;
  font-size: 16px;
  outline: none;
  border: none;
}

.searchButton {
  padding: 10px 20px;
  background-color: #0B3142;
  color: #D6D3F0;
  cursor: pointer;
}

.searchButton:hover {
  color: #0B3142;
  background-color: #D6D3F0;
}

.searchContainer {
  margin-top: 2%;


}

.resultContainer {
  position: relative;
  width: 21%;
  z-index: 10;
  /* Center the result container horizontally */
}

.ul-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 300px;
  overflow-y: scroll;
  background-color: #D6D3F0;

}

.li-list {
  padding: 8px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.li-list:last-child {
  border-bottom: none;
}

.li-list:hover {
  background-color: #f0f0f0;
}



.errorText {
  background-color: #D21F3C;
  color: #f0f0f0;
  padding: 10px 20px;
  border-radius: 15px;
}

.card-item {
  font-size: 12px;
  transition: transform 0.3s ease-in-out;
}


.card-item:hover {
  transform: scale(1.1);
}

.card-container {
  margin: 20px !important;
}